{% extends "base.html" %}
{% block container %}
  <main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>Все преподаватели</strong></h1>



      <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">


        <div class="card mb-4">
          <div class="card-body align-right">

            <p class="lead float-left d-inline-block mt-2 mb-0"><strong>{{ amount }} преподавателей в базе</strong></p>

            <form class="float-right d-inline-block" action="/all/sort/" method="post">
              <div class="form-inline">
                <select class="custom-select my-1 mr-2" id="inlineFormCustomSelectPref">
                  <option selected>В случайном порядке</option>
                  <option value="3">Сначала лучшие по рейтингу</option>
                  <option value="1">Сначала дорогие</option>
                  <option value="2">Сначала недорогие</option>
                </select>
                <button type="submit" class="btn btn-primary my-1">Сортировать</button>
              </div>
            </form>
          </div>
        </div>

        {% for tutor in tutors %}
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-3"><img src="{{ tutors[tutor].picture }}" class="img-fluid" alt=""></div>
              <div class="col-9">
                <p class="float-right">Рейтинг: {{ tutors[tutor].rating }} Ставка: {{ tutors[tutor].price }} / час</p>
                <h2 class="h4">{{ tutors[tutor].name }}</h2>
                <p>{{ tutors[tutor].about }}</p>
                <a href="/profiles/{{ tutor }}" class="btn btn-outline-primary btn-sm mr-3 mb-2">Показать информацию и расписание</a>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}